Options -Indexes

<FilesMatch "\.(json|zip)$">
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Allow from all
    </IfModule>
</FilesMatch>

<IfModule mod_headers.c>
    <FilesMatch "\.(json|zip)$">
        Header set Cache-Control "public, max-age=3600"
    </FilesMatch>
</IfModule>
